.dropdown {
  width: 15rem;

	&__content{
    border-radius: 25px;
    position: relative;
    box-shadow: 0 10px 20px rgba(#000, .16);
    transition: transform var(--time);
    transform-origin: top;
  }

  &__item {
    position: relative;
    outline: none;
    width: 100%;
    text-align: left;
    border: none;
    padding: 0.6rem 0.6rem 0.6rem 2rem;
    background-color: var(--text-color--accent);
    
    &::before {
      content: "";
      position: absolute;
      width: calc(100% - 3rem);
      bottom: 0;
      left: 2rem;
      height: 1px;
      background-color: var(--acent-color);
    }

    &:last-child {
      border-radius: 0 0 25px 25px;
      padding-bottom: 1rem;

      &::before {
				display: none;
      }
    }
  }

  &__arrow {
    transition: transform var(--time);
  }

  &__active-option {
		padding: 1rem 1rem 1rem 2rem;
		font-weight: 600;
		display: flex;
		justify-content: space-between;
    align-items: center;
    
		&::before {
			display: none;
		}
		z-index: 1;
	}
}
