.fade-form {
  will-change: opacity;

  &-enter-active, &-leave-active {
    transition: all var(--time) ease-out;
  }

  &-enter, &-leave-to {
    opacity: 0;
  }
}

.dropdown-fade {
  will-change: opacity;

  &-enter-active, &-leave-active {
    transition: all var(--time) ease-out;
  }

  &-enter, &-leave-to {
    opacity: 0;
  }
}

.page-fade {
  will-change: opacity;

  &-enter-active, &-leave-active {
    transition: all var(--time) ease-out;
  }

  &-enter, &-leave-to {
    opacity: 0;
  }
}
.elaboration-tab-transition {
  will-change: transform;

  &-enter-active, &-leave-active {
    transition: all var(--time) ease-out;
  }

  &-enter {
    transform: translateX(-100%);
  }
  &-leave-to{
    transform: translateX(100%);

  }
}
