.fade-form {
  will-change: opacity;

  &-enter-active, &-leave-active {
    transition: all var(--time) ease-out;
  }

  &-enter, &-leave-to {
    opacity: 0;
  }
}

.dropdown-fade {
  will-change: opacity;

  &-enter-active, &-leave-active {
    transition: all var(--time) ease-out;
  }

  &-enter, &-leave-to {
    opacity: 0;
  }
}

.page-fade {
  will-change: opacity;

  &-enter-active, &-leave-active {
    transition: all var(--time) ease-out;
  }

  &-enter, &-leave-to {
    opacity: 0;
  }
}

.fade-enter-active {
  transition: opacity .5s
}
.fade-enter, .fade-leave-active {
  opacity: 0
}

.fade-leave-active {
  opacity: 0;
  z-index: -1;
}