* {
  box-sizing: border-box;
}

html {
  background-color: var(--background--medium);
}

.app-page {
  margin: 85px 0 0 0;
  padding: 2rem 0 0 0;
  background-color: #F5F5F5;
}

.container {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 2rem;
  position: relative;

  &--medium {
    max-width: 1080px;
  }

  &--small {
    max-width: 800px;
  }

  &--fluid {
    max-width: 100%;
  }
}

button {
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .container {
    padding: 0 1rem;
  }
}