// CSS Variables 

:root {
  --primary-color: #5E7DFF;
  --primary-color--medium: #3C5BDF;
  --primary-color--dark: #131330;

  --text-color: #131330;
  --text-color--medium: rgb(196, 196, 196);
  --text-color--low: rgba(204, 204, 204, 0.45);
  --text-color--accent: #FFFFFF;

  --border: #131330;
  --border--accent: rgba(204, 204, 204, 0.45);

  --background--accent:#FFFFFF;
  --background--medium:#F5F5F5;
  --background--low: #f4f4f4;

  --acent-color: #ECECEC;
  --acent-color--dark: #C7C7C7;
  --acent-color--light: #F4F4F4;

  --label-color: #FF6363;
  
  --ui-error: #FF4B50;
  --ui-warning: #F9CF1E;
  --ui-success: #24D4A5;

  --time: 0.4s;
  --time--short: 0.2s;
  --time--long: 0.6s;
}