$brand-primary: #1099B4;
$brand-primary--light: #0DA3BC;
$brand-primary--dark: #083E49;

$brand-secondary:#0E1046;
$brand-secondary--light: #1C1F89;
$brand-secondary--medium: #5953F7;
$brand-secondary--dark: #000000;

$text-color-accent: #ffffff;
$text-color-accent--medium: #F0F1F3;
$text-color-accent--light: #DDDDDD;
$text-color-accent--dark:#E9E4FF;

$text-color-normal:#b9b5db;
$text-color-normal--dark: #67667D;
$text-color-normal--light:#DAD3F9;
$text-color-normal--medium: #D4CDF8;

$background-dark: #0D0D10;

:root {
  --text-color: #131330;
  --text-color--medium: rgba(196, 196, 196);
  --text-color--low: rgba(204, 204, 204, 0.45);

  --border: #131330;
  --border--accent: rgba(204, 204, 204, 0.45);

  --link: #3C5BDF;

  --ui-error: rgb(209, 81, 81);

  --time: 0.4s;
  --time--short: 0.2s;
  --time--long: 0.6s;
}