.base-dropdown {
  position: relative;
  min-width: 250px;
  display: inline-block;

  &__content {
    position: absolute;
    margin: -25px 0 0 0;
    padding: 35px 0 0 0;
    left: 0;
    width: 100%;
    border-radius: 0 0 25px 25px;
    box-shadow: 0 10px 20px rgba(#000, 0.16);
    background-color: var(--background--accent);
    z-index: 1;

    &--accordion {
      max-height: 0;
      overflow: hidden;
      position: static;
      transition: max-height var(--time), padding var(--time);
      padding: 0;
      &--active {
        padding: 35px 0 0 0;
        max-height: 100vh;
      }
    }
  }

  &__arrow {
    transition: transform var(--time);
    width: 1rem;

    &--big {
      width: 2rem;

      @media screen and (max-width: 480px) {
        width: 1.5rem;
      }
    }
  }

  &__button {
    position: relative;
    border-radius: 25px;
    width: 100%;
    padding: 1rem;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: none;
    background-color: var(--background--accent);
    outline: none;
    transition: background-color var(--time--short);
    font-size: 14px;
    z-index: 2;

    &--gray {
      background-color: var(--text-color--medium);
    }

    &--bordered {
      border: 1px solid var(--text-color--medium);
    }

    &--active {
      box-shadow: 0 5px 20px rgba(#000, 0.06);
    }
  }
}
