.main-sidebar {
  position: relative;
  width: 320px;
  min-width: 320px;
  background-color: var(--background--accent);
  border-radius: 1.5rem;
  padding: 1rem 0;
  margin: 0 0 0 2rem;

  &__row {
    padding: 2rem;

    &--profile {
      box-shadow: 0 5px 20px rgba(0, 0, 0, 0.06);
      border-radius: 1.5rem;
    }

    &--badges {
      padding: 1rem 2rem 0 2rem;
    }

    &--categories {
      border-top: 1px solid rgba(#707070, 0.19);
    }

    &--courses {
      padding: 1rem 2rem 2rem;
    }
  }

  &__button {
    width: 100%;
    margin: 0 0 0.5rem 0;
  }
}