.main-layout {
  position: relative;
  margin: 2rem 0 0 0;

  &__inner {
    display: flex;
    align-items: flex-start;
  }

  &__content {
    width: 100%;
    max-width: 980px;
  }
}

// Media

@media screen and (max-width: 1024px) {
  .main-layout {
    &__content {
      max-width: 100%;
    }

    &__sidebar {
      display: none;
    }
  }
}