.reset-password {
  &__container {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  &__link {
    display: block;
    text-align: center;
    margin-top: 3rem;
    font-weight: 600;
    width: 100%;
    font-size: 16px;
    color: var(--primary-color);
    padding: 0;
    min-height: auto;

    @media screen and (max-width: 476px) {
      margin: 1rem 0;
    }
  }
}
