.base-user-header {
  background: url('/img/layout/Header_Opracowania.svg')  no-repeat;
  background-size: cover;
  background-position: bottom;
  color: var(--background--accent);
  border-radius: 24px;
  padding: 3rem;
  margin-top: 30px;
  
  &__text,
  &__subtext {
    font-size: 32px;
    margin-bottom: 1rem;
    @media screen and (max-width: 768px) {
      font-size: 24px;
    }
  }

  &__text {
    font-weight: bold;
  }

  &__subtext {
    margin-bottom: 2rem;
  }
}
