.login-form {
  position: relative;
  width: 450px;
  height: 700px;
  box-shadow: 0 0 60px rgba(#000000, 0.1);
  border-radius: 25px;
  background-color: var(--background--accent);
  padding: 4rem 2rem;
  
  &__header {
    font-weight: 600;
    font-size: 50px;
    margin-bottom: 0.5rem;
  }

  &__submit {
    display: block;
    left: 50%;
    bottom: 3rem;
    transform: translateX(-50%);
    position: absolute;
  }
  
  @media screen and (max-width: 476px) {
    padding: 3rem 1.5rem;
    width: 100%;
    height: 500px;

    &__header {
      font-size: 32px;
    }
  }
}
