.login-form {
  position: relative;
  width: 450px;
  height: 600px;
  box-shadow: 0 0 60px rgba(#000000, 0.1);
  border-radius: 25px;
  background-color: var(--background--accent);
  padding: 4rem 2rem;

  &__header {
    font-weight: 600;
    font-size: 50px;
    margin-bottom: 0.5rem;
  }

  &__link {
    color: var(--primary-color);
  }

  &__submit {
    display: block;
    left: 50%;
    bottom: 3rem;
    transform: translateX(-50%);
    position: absolute;
    transition: transform var(--time--short);

    &--error {
      &:active {
        transform: translate(-50%, 15%);
      }
    }
  }

  &__error, &__loading {
    position: absolute;
    z-index: 1;
    left: 50%;
    top: 0.5rem;
    width: 100%;
    transform: translateX(-50%);
    text-align: center;
    padding: 0 2rem;
  }
  
  &__error {
    color: var(--ui-error);
  }
  
  &__loading {
    color: var(--text--color);
  }

  &__progress {
    height: 5px;
    width: calc(100% - 50px);
    border-radius: 25px;
    position: absolute;
    top: 0px;
    left: 25px;
    transform-origin: left;
    transition: transform var(--time) ease-in;
    background-color: var(--primary-color);
  }

  @media screen and (max-width: 476px) {
    padding: 3rem 1.5rem;
    width: calc(100vw - 2rem);
    height: 500px;

    &__header {
      font-size: 32px;
    }

    &__submit {
      bottom: 2rem;
    }

    &__error {
      padding: 0 1.5rem;
      font-size: 12px;
    }
  }
}
