.not-found {
  position: relative;
  height: calc(100vh - (86px + 2rem));
  display: flex;
  align-items: center;

  &__inner {
    position: relative;
    display: flex;
    flex-wrap: wrap;
  }

  &__image {
    width: 40%;
  }

  &__content {
    width: 60%;
    padding: 0 0 0 2rem;

    &-heading {
      font-size: 2.8rem;
      font-weight: bold;
      line-height: 60px;
      color: var(--text-color);
      margin: 0 0 2rem 0;

      &-span {
        color: var(--primary-color);
      }
    }

    &-text {
      font-size: 1.6rem;
      line-height: 40px;
      color: var(--text-color);
      margin: 0 0 2rem 0;
    }
  }
}

//Media

@media screen and (max-width: 1200px) {
  .not-found {
    &__image {
      width: 50%;
    }

    &__content {
      width: 50%;

      &-heading {
        font-size: 2rem;
        line-height: 40px;
      }

      &-text {
        font-size: 1.2rem;
        line-height: 30px;
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .not-found {
    height: auto;

    &__image {
      width: 100%;
      max-width: 600px;
      margin: 0 auto 2rem auto;
    }

    &__content {
      width: 100%;
      max-width: 600px;
      text-align: center;
      padding: 0;
      margin: 0 auto;
    }
  }
}

@media screen and (max-width: 576px) {
  .not-found {
    &__content {
      &-heading {
        font-size: 1.6rem;
        line-height: 36px;
      }

      &-text {
        font-size: 1rem;
        line-height: 30px;
      }
    }
  }
}