.login-password {
  
  &__input {
    width: 100%;
    margin: 0rem 0 0.5rem 0;
  }
  
  &__link {
    color: var(--primary-color);
  }

  &__user {
    display: flex;
    align-items: center;
    margin: 3rem 0 1rem 0;
    font-weight: 600;
    
    &__image {
      border-radius: 100%;
      width: 4rem;
      height: 4rem;
      margin-right: 1rem;
    }

    &__name {
      color: var(--text-color);
      font-size: 20px;
    }

    &__nickname {
      color: var(--text-color--dark);
      font-style: italic;
    }
  }

  &__buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    *{
    font-size: 12px;}
  }

  &__switch {
    white-space: nowrap;
  }

  &__reset {
    color: var(--ui-error);
    justify-content: flex-end;
    padding: 0;
    min-width: auto;
    min-height: auto;
  }
}
