.register-name {
  &__header {
    font-weight: 600;
    font-size: 1.5rem;
    margin: 2rem 0 1.5rem 0;
  }

  &__input {
    margin-bottom: 1.2rem;
  }

  &__dropdown {
    width: 100%;
    
    &__wrapper {
      position: relative;
      margin-bottom: 1rem;
    }

    &__option {
      &--default {
        color: var(--text-color--medium);
      }
    }
  }

  &__tabs {
    &__wrapper {
      position: relative;
    }
  }

  &__button {
    width: 100%;
    border: none;
    background: none;
    justify-content: start;
  }

  &__error {
    position: absolute;
    left: 25px;
    top: calc(100% + 5px);
    font-size: 11px;
    line-height: 1.4;
    color: var(--ui-error);
  }
}
