.base-dropdown-item {
  position: relative;
  outline: none;
  width: 100%;
  text-align: left;
  border: none;
  padding: 0.6rem 1rem;
  background-color: var(--text-color--accent);
  margin: 0 0 0.5rem 0;
  font-size: 14px;
  border-radius: 25px;
  transition: color var(--time);

  &--divinder {
    border-top: 1px solid #ececec;
    border-radius: 0;
    background-color: transparent;
  }

  &:hover, &:focus {
    cursor: pointer;
    color: var(--primary-color);
  }
}
