.tab-button {
  background: none;
  border: none;
  outline: none;
  padding: 10px 100px;
  position: relative;
	font-size: 19px;
  color: var(--acent-color--dark);
  width: 50%;
  transition: color var(--time);
  &:hover, &:focus{
    color: var(--text-color);
  }
  &::before{
    content: "";
    transform: scale(0);
  }
}

.tab-button.isActive {
  color: var(--text-color);
  &::before {
    transform: scale(1);
    transition: transform var(--time);
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 5px;
    background-color: var(--primary-color);
    border-radius: 40px;
  }
}
