.base-tab-button {
  background: none;
  border: none;
  outline: none;
  padding: 10px 16px;
  position: relative;
  font-size: 19px;
  color: var(--acent-color--dark);
  transition: color var(--time);

  &--small {
    font-size: 16px;
  }

  &--big {
    font-size: 24px;
  }
  &--bold {
    font-weight: 600;
  }

  &:hover,
  &:focus {
    color: var(--text-color);
  }

  &::before {
    content: "";
    transform: scaleX(0);
  }

  &--left {
    text-align: left;

    &::before {
      transform-origin: left;
    }
  }

  &--right {
    text-align: right;

    &::before {
      transform-origin: right;
    }
  }

  &--active {
    color: var(--text-color);

    &::before {
      transform: scaleX(1);
      transition: transform var(--time);
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 5px;
      background-color: var(--primary-color);
      border-radius: 40px;
    }
  }

  &--highlight {
    color: var(--primary-color);

    &:focus {
      color: var(--primary-color);
    }
  }
}

@media screen and (max-width: 768px) {
  .base-tab-button {
    font-size: 16px;

    &--small {
      font-size: 12px;
    }

    &--big {
      font-size: 20px;
    }
  }
}
