.elaborations {
  &__header {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    margin: 3rem 0;

    @media screen and (max-width: 768px) {
      display: none;
    }
  }

  &__content {
    display: grid;
    grid-gap: 2.5rem;
    grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));

    @media screen and (max-width: 768px) {
      margin-top: 2rem;
      grid-template-columns: repeat(auto-fit, minmax(256px, 1fr));
    }
  }
  
  &__base-accordion-item {
      font-weight: 600;
  }
}
