.base-input {
  position: relative;
  height: 52px;

  &__inner {
    width: 100%;
    display: block;
    height: 100%;
    padding: 0 24px;
    color: var(--text-color);
    border: 2px solid #d8d8d8;
    border-radius: 24px;
    font-size: 14px;
    font-weight: 400;
    outline: none;
    transition: all var(--time);

    &--with-icon {
      padding: 0 70px 0 24px;
    }

    &:-webkit-autofill {
      background: none !important;
    }

    &::placeholder {
      color: var(--text-color--medium);
      font-size: 14px;
      font-weight: 400;
      transition: all var(--time);
    }

    &:focus {
      border-color: var(--primary-color);
      color: var(--primary-color);

      &::placeholder {
        color: var(--primary-color);
      }
    }
  }

  &__label {
    display: block;
    color: var(--text-color);
    pointer-events: none;
    user-select: none;
    transition: transform var(--time);
    font-size: 14px;
    font-weight: 600;
    margin: 0 0 1rem 0rem;
    color: var(--text-color);
  }

  &__error {
    position: absolute;
    left: 25px;
    top: calc(100% + 5px);
    font-size: 11px;
    line-height: 1.4;
    color: var(--ui-error);
  }

  &__icon {
    position: absolute;
    right: 25px;
    top: 50%;
    transform: translateY(-50%);
  }
}