.register-password {
  &__user {
    display: flex;
    align-items: center;
    margin: 2rem 0 1rem 0;
    font-weight: 600;

  }

  &__image {
        border-radius: 100%;
        width: 4rem;
        height: 4rem;
        margin-right: 1rem;
        object-fit: cover;
      }
  
      &__name {
        color: var(--text-color);
        font-size: 12px;
        word-break: break-word;
      }

  &__input {
    margin-bottom: 1.2rem;
  }

  &__terms {
    font-size: 12px;

    @media screen and (max-width: 476px) {
      font-size: 8px;
    }
  }
}
