.user-header {
  background: no-repeat bottom;
  background-size: cover;
  color: var(--background--accent);
  border-radius: 1.5rem;
  padding: 2rem 4rem;

  &--home-page {
    background-image: url("/img/layout/headers/home-page.svg");

    @media screen and (max-width: 476px) {
      background-image: url("/img/layout/headers/home-page-mob.svg");
    }
  }

  &--elaborations {
    background-image: url("/img/layout/headers/elaborations.svg");

    @media screen and (max-width: 476px) {
      background-image: url("/img/layout/headers/elaborations-mob.svg");
    }
  }

  &--formulas {
    background-image: url("/img/layout/headers/formulas.svg");

    @media screen and (max-width: 476px) {
      background-image: url("/img/layout/headers/formulas-mob.svg");
    }
  }

  &--generator {
    background-image: url("/img/layout/headers/generator.svg");

    @media screen and (max-width: 476px) {
      background-image: url("/img/layout/headers/generator-mob.svg");
    }
  }

  &--leaderboard {
    background-image: url("/img/layout/headers/leaderboard.svg");

    @media screen and (max-width: 476px) {
      background-image: url("/img/layout/headers/leaderboard-mob.svg");
    }
  }

  &--profile {
    background-image: url("/img/layout/headers/profile.svg");

    @media screen and (max-width: 476px) {
      background-image: url("/img/layout/headers/profile-mob.svg");
    }
  }


  @media screen and (max-width: 768px) {
    padding: 2rem;
    &__subtext {
      margin-bottom: 1rem;
    }
  }

  &__text,
  &__subtext {
    font-size: 2rem;
    @media screen and (max-width: 768px) {
      font-size: 1.5rem;
    }
  }

  &__text {
    font-weight: bold;
  }

  &__subtext {
    margin-bottom: 1rem;
  }
}
