.login {
  &__container {
    display: flex;
    justify-content: space-around;
    align-items: center;

    @media screen and (max-width: 1024px) {
      flex-direction: column;
    }
  }

  &__form {
    &__wrapper {
      position: relative;
    }

    &__error {
      position: absolute;
      z-index: 1;
      left: 50%;
      top: 1rem;
      width: 100%;
      transform: translateX(-50%);
      color: var(--ui-error);
      text-align: center;
    }
  }

  &__link {
    display: block;
    text-align: center;
    margin-top: 3rem;
    font-weight: 600;
    width: 100%;
    font-size: 16px;
    color: var(--primary-color);
    padding: 0;
    min-height: auto;

    @media screen and (max-width: 476px) {
      margin: 1rem 0;
    }
  }

  &__logo {
    width: 300px;

    @media screen and (max-width: 1024px) {
      display: none;
    }

    &--mobile {
      display: none;
      margin-bottom: 2rem;
      width: 2rem;

      @media screen and (max-width: 1024px) {
        display: block;
      }
    }
  }
}
