.elaboration-topic {
  display: flex;
  align-items: center;
  padding: 1rem;

  &__image {
    height: 3rem;
    width: 3rem;
    margin-right: 1.5rem;
  }

  &__name {
    font-weight: bold;
    font-size: 1.5rem;
    text-align: left;
  }
  
  @media screen and (max-width: 768px) {
    padding: 0;

    &__name {
      font-size: 1rem;
    }
  }
}
