.base-button {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: var(--text-color);
  border: 2px solid var(--text-color);
  padding: 0.5rem 1rem;
  margin: 0;
  min-height: 45px;
  min-width: 150px;
  font-size: 14px;
  font-weight: 600;
  border-radius: 25px;
  color: var(--text-color--accent);
  border-color: var(--text-color--acent);
  transition: all var(--time);
  outline: none;

  &:hover, &:focus {
    cursor: pointer;
    opacity: 0.7;
  }

  &--primary {
    border-color: var(--primary-color);
    background-color: var(--primary-color);
    color: var(--text-color--accent);
  }

  &--secondary {
    border-color: var(--primary-color--medium);
    background-color: var(--primary-color--medium);
    color: var(--text-color--accent);
  }

  &--outline {
    background-color: transparent;
    color: var(--text-color);

    &.base-button {
      &--primary {
        color: var(--primary-color);
      }

      &--secondary {
        color: var(--primary-color--medium);
      }
    }
  }

  &--white {
    background-color: var(--background--accent);
    color: var(--text-color);
    &.base-button {
      &--outline {
        color: var(--background--accent);
        border-color: var(--background--accent);
        background-color: transparent;
      }
      &--text {
        color: var(--background--accent);
      }
    }
  }

  &--text {
    border-color: transparent;
    background-color: transparent;
    color: var(--text-color);

    &.base-button {
      &--primary {
        color: var(--primary-color);
      }

      &--secondary {
        color: var(--primary-color--medium);
      }
    }
  }

  &--big {
    min-height: 50px;
    font-size: 15px;
    min-width: 200px;
  }

  &--small {
    min-height: 35px;
    font-size: 13px;
    min-width: 130px;
  }

  &--icon-mode {
    justify-content: space-between;
    padding: 0.5rem 0;
  }

  &--full-width {
    max-width: 100%;
    width: 100%;
  }

  &--border-bottom {
    border-bottom: 1px solid rgba(#707070, 0.19);
    border-radius: 0;
    padding: 1.2rem 0;

  }

  &__icon {
    margin: 0 0 0 1rem;
  }
}
