.community {
  &__progress {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &-description {
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-weight: 600;

      p:first-child {
        margin-right: 1rem;
      }
    }

    &-bar {
      height: 0.7rem;
      border-radius: 50px;
      background-color: #e5eaf6;
      margin-top: 1.5rem;
      position: relative;

      &--inner {
        transition: width var(--time) ease-out;
        background-color: var(--primary-color);
        position: absolute;
        left: 0;
        height: 100%;
        margin: 0;
      }
    }
  }

  &__wrapper {
    width: 100%;
    height: 100%;
  }

  &__header {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
  }

  &__badge {
    background-color: var(--background--low);
    border-radius: 24px;
    height: 8rem;
    min-width: 8rem;
    width: 8rem;
    margin-right: 2rem;
    padding: 1rem;
  }

  &__coming-badges {
    padding: 3rem;
    margin-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 12px;
    border: 3px solid var(--acent-color--light);
  }

  &__coming-badge {
    background-color: var(--background--low);
    border-radius: 24px;
    padding: 0.75rem;
    width: 5rem;
    height: 5rem;
    min-width: auto;
    transition: all var(--time);
    border: none;
    outline: none;

    &--active {
      transform: scale(1.2);
    }

    &:hover,
    &:focus {
      background-color: var(--acent-color);
    }
  }

  &__icon {
    width: 100%;
    height: 100%;
  }

  &__filters {
    display: flex;
    justify-content: space-around;
    margin-bottom: 6rem;
  }

  &__show-more {
    margin: auto;
    display: block;
    margin-bottom: 1rem;
  }

  @media screen and (max-width: 768px) {
    &__header {
      font-size: 1rem;
      margin-bottom: 0;
    }

    &__progress {
      &-description {
        font-size: 12px;
        margin: 0.5rem 0;
      }

      &-bar {
        margin-top: 0rem;
      }
    }

    &__coming-badges {
      display: none;
    }

    &__badge {
      height: 5rem;
      min-width: 5rem;
      width: 5rem;
    }

    &__filters {
      flex-direction: column;
    }

    &__base-accordion {
      margin-bottom: 2.5rem;
    }
  }
}
