.profile-card {

  &__info {
    display: flex;
    align-items: center;
    padding: 0 0.8rem;
    margin: 0 0 1.5rem 0;

    &-avatar {
      width: 73px;
      height: 73px;
      border-radius: 50%;
      margin: 0 1.1rem 0 0;
    }

    &-content {
      position: relative;
    }

    &-name {
      font-size: 19px;
      font-weight: 600;
      color: var(--text-primary);
      margin: 0 0 0.4rem 0;
    }

    &-education {
      font-size: 16px;
      font-weight: 600;
      font-style: italic;
      color: #656565;
    }
  }

  &__level {
    &-heading {
      display: flex;
      align-items: center;
      justify-content: space-between;
      color: var(--text-primary);
      font-size: 14px;
      font-weight: 600;
      line-height: 16px;
    }

    &-progress {
      margin: 0.6rem 0 0 0;
      background-color: #e5eaf6;
      height: 8px;
      width: 100%;
      border-radius: 0.4rem;
    }

    &-progress-inner {
      height: 100%;
      background-color: var(--primary-color);
      border-radius: 0.4rem;
      transition: width var(--time);
    }
  }

}